<header class="fixed top-0 left-0 right-0 z-50 bg-white shadow-md">
    <div class="container mx-auto px-4 sm:px-6">
        <div class="flex justify-between items-center py-1">
            <div class="flex items-center space-x-3 flex-shrink-0">
                <a href="https://www.ufpb.br/" target="_blank" rel="noopener noreferrer">
                    <img src="assets/img/logo-fapesq.png" alt="Logo 70 Anos" class="h-6 md:h-10" onerror="this.onerror=null;this.src='https://placehold.co/56x56/cccccc/ffffff?text=70+Anos';">
                </a>
                <a href="https://www.ufpb.br/" target="_blank" rel="noopener noreferrer">
                    <img src="assets/img/secties.png" alt="Logo UFPB" class="h-8 md:h-12" onerror="this.onerror=null;this.src='https://placehold.co/56x56/cccccc/ffffff?text=UFPB';">
                </a>
                <a href="/" rel="noopener noreferrer">
                    <img src="assets/img/logo-odsr.png" alt="Logo ODS Racial" class="h-8 md:h-12" onerror="this.onerror=null;this.src='https://placehold.co/110x40/cccccc/ffffff?text=ODS Racial';">
                </a>
            </div>
            <nav class="hidden md:flex md:items-center md:space-x-1 lg:space-x-2" id="desktop-nav">
            <a href="/" class="nav-link" aria-label="Principal"><i class="fas fa-home fa-xl text-texto-sutil hover:text-primaria"></i></a>
            <a href="/contato" class="nav-link ml-4" aria-label="Contato"><i class="fas fa-envelope fa-xl text-texto-sutil hover:text-primaria"></i></a>
        </nav>
        </div>
    
</header>